[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "plugins/tmux-sidebar"]
	path = plugins/tmux-sidebar
	url = https://github.com/tmux-plugins/tmux-sidebar
